.description {
  max-width: 1020px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: $text-light-color;
}

.description b {
  color: $brand-color;
}

@media (max-width: $m-width-max) {
  .description {
    max-width: 700px;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
  }
}

@media (max-width: $s-width-max) {
  .description {
    padding-left: 24px;

    font-size: 12px;
    line-height: 1.5;
    color: $dark-color;
    background-color: $light-color;
  }
}
