.footer {
  color: $light-color;
  background-color: $dark-color;

  padding-bottom: 25px;
}

.footer__contacts {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  padding-top: 800px;
}

.footer__contacts h2 {
  @include visually-hidden;

  flex-basis: 100%;
}

.footer__map {
  position: absolute;
  top: 0;
  left: 50%;

  width: 100vw;
  height: 800px;
  margin-left: -50vw;

  background-color: $light-gray;
  background-image: url("../img/icon-location.svg"), url("../img/map-l@1x.png");
  background-position: center;
  background-size: auto, cover;
  background-repeat: no-repeat;

  border-bottom: solid 3px $brand-color;
}

.footer__form {
  z-index: 10;
  position: relative;
  left: 50%;

  box-sizing: border-box;
  width: 580px;
  @media (max-width: 1200px)  {
    width: 520px;
    margin-left: -250px;
  }
  margin-top: -183px;
  margin-left: -290px;
  padding: 18px 64px;

  color: $dark-color;

  background-color: $light-color;

  & h3 {
    font-size: 25px;
    line-height: 2;
    text-align: center;
    letter-spacing: 1px;
  }
}

.footer__contacts-list {
  box-sizing: border-box;
  width: 210px;
  margin-left: auto;
  margin-right: -10px;
}

.footer__container {
  position: relative;
  z-index: 50;

  box-sizing: border-box;
  width: 210px;
  min-height: 392px;
  margin-top: -328px;
}

.footer__logo {
  margin-bottom: 52px;
}

.footer__logo img {
  margin-bottom: 36px;
}

.footer__logo p {
    opacity: 0.9;
}

.footer__menu {
  display: none;
}


.footer__copyright {
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 0.4px;
  text-align: center;

  opacity: 0.25;
}

@media (max-width: $m-width-max) {
  // .form {
  //   & input[type=text],
  //   & input[type=tel],
  //   & textarea {
  //     padding-bottom: 20px;
  //   }
  // }
  .footer__form {
    & h3 {
      font-family: 'Roboto', Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 900;
      line-height: 1.97;
      letter-spacing: 0.72px;
    }
  }

  .footer__menu {
    @include reset-list-style;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 12px;
    font-weight: 400;
  }

  .footer__menu li {
    &:not(:last-child) {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 10px;
    }
  }

  .footer__menu a {
    color: $light-color;
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

@media (max-width: $s-width-max) {
  .footer__menu {
    display: block;
    width: 100%;
  }

  .footer__menu li {
    width: 100%;
    margin-right: 0;
  }

  .footer__menu a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 11px 20px 9px;

    font-size: 14px;

    border-bottom: 1px solid #626262;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}


