.footer {
  color: $light-color;
  background-color: $dark-color;
}

.footer__map {
  position: relative;
  left: 50%;

  width: 100vw;
  height: 800px;
  margin-left: -50vw;

  background-color: $light-gray;

  border-bottom: solid 3px $brand-color;
}

.footer__form {
  z-index: 10;
  position: relative;

  box-sizing: border-box;
  width: 580px;
  margin-top: -186px;
  padding: 18px 64px;

  color: $dark-color;

  background-color: $light-color;

  & h3 {
    font-size: 25px;
    line-height: 2;
    text-align: center;
    letter-spacing: 1px;
  }
}

.footer__menu {
  display: none;
}


@media (max-width: $m-width-max) {
  // .form {
  //   & input[type=text],
  //   & input[type=tel],
  //   & textarea {
  //     padding-bottom: 20px;
  //   }
  // }
  .footer__form {
    & h3 {
      font-family: 'Roboto', Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 900;
      line-height: 1.97;
      letter-spacing: 0.72px;
    }
  }
}
