.main-header {
  margin-bottom: 100px;
  color: $light-color;

  background-color: $dark-color;
  background-image: url('../img/header-l@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  // background-size: 1920px auto;
}

.main-header__wrapper {
  padding-top: 104px;
  padding-bottom: 64px;
}

.main-header h1 {
  margin-bottom: 24px; // Против склопываниия
}

// .main-header__description {
//   max-width: 1020px;
//   font-size: 24px;
//   line-height: 38px;
//   font-weight: 500;
//   color: $text-light-color;
// }

.main-header b {
  color: $brand-color;
}

.main-header__buttons-container {
  margin-left: -14px;
}

.main-header__button {
  box-sizing: border-box;
  width: 302px;
  margin-top: 29px;
  padding: 7px 30px;

  font-size: 20px;
  line-height: 40px;
  font-weight: 900;

  // &:not(:last-of-type) {
  //   margin-right: 14px;
  // }
  margin-left: 14px;

  &:hover,
  &:focus {
    color: $dark-color;
  }

  &--services {
    color: $dark-color;

    background-color: $brand-color;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}



.main-header__advantages {
  margin-top: 115px;
}

@media (max-width: $m-width-max) {
  .main-header {
    position: relative;
    margin-bottom: 67px;

    background-image: url(../img/header-m@1x.jpg);
    background-position: 36.6% center;
  }
  .main-header__wrapper {
    padding-top: 100px;
    padding-bottom: 130px;

    @media (min-width: $m-width) {
      padding-left: 84px;
      padding-right: 84px;
    }
  }

  .main-header h1 {
    margin-bottom: 18px;
    @media (min-width: $m-width) {
      margin-right: -15px;
    }
  }

  // .main-header__description {
  //   max-width: 700px;
  //   font-size: 16px;
  //   line-height: normal;
  //   font-weight: 400;
  // }

  .main-header__buttons-container {
    margin-left: -16px;
  }

  .main-header__button {
    width: 290px;
    margin-top: 70px;
    padding: 14px 30px;

    font-size: 16px;
    line-height: 26px;

    // &:not(:last-of-type) {
    //   margin-right: 16px;
    // }
    margin-left: 16px;
  }

  // .main-header__advantages {
  //   position: absolute;
  //   left: 0;
  //   bottom: -300px;
  //   margin-top: 10px; //temp

  // }
}

@media (max-width: $s-width-max) {
  .main-header {
    margin-bottom: 35px;

    text-align: center;

    background-image: url("../img/header-s@1x.jpg");
    background-position: 30.1% center;
  }

  .main-header__wrapper {
    padding-top: 117px;
    padding-bottom: 52px;
  }

  .main-header__buttons-container {
    margin-left: 0;
  }

  .main-header__button {
    display: block;
    width: 280px;
    // margin-right: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 15px;

    &:first-of-type {
      margin-top: 58px;
      margin-bottom: 10px;
    }

    &:not(:first-of-type) {
      margin-top: 0;
    }
  }

  .main-header h1 {
    margin-bottom: 21px;
  }

  .main-header__description-substitute {
    max-width: 700px;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    color: $text-light-color;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .main-header {
    background-image: url("../img/header-l@2x.jpg");

    @media (max-width: $m-width-max) {
    background-image: url("../img/header-m@2x.jpg");
    }

    @media (max-width: $s-width-max) {
      background-image: url("../img/header-s@2x.jpg");
    }
  }
}
