.page {
  min-height: 100vh;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: $dark-color;

  background-color: $light-color;
}

.page {
  & h1 {
    color: $text-light-color;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Raleway', Helvetica, sans-serif;
    line-height: normal;

    letter-spacing: 3.6px;
    text-transform: uppercase;

    // margin-left: -4px;
  }

  & h2 {
    font-family: 'Raleway', Helvetica, sans-serif;

    font-size: 30px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  & h3 {
    font-family: 'Roboto', Helvetica, sans-serif;

    font-size: 16px;
    // line-height: 26px;
    line-height: normal;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media (max-width: $m-width-max) {
  .page {
    & h1 {
      font-size: 38px;
      letter-spacing: 1.9px;
    }

    & h2 {
      font-size: 26px;
      // line-height: 50px;
      letter-spacing: 1.04px;
    }

    & h3 {
      font-family: 'Roboto', Helvetica, sans-serif;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
    }
  }
}

@media (max-width: $s-width-max) {
  .page {
    & h1 {
      // margin-left: -2px;
      font-size: 16px;
      letter-spacing: 0.8px;
    }

    & h2 {
      font-size: 20px;
      letter-spacing: 0.8;
    }

    & h3 {
      font-size: 16px;
    }
  }
}
