$gradient: linear-gradient(rgba(255, 255, 255, 0.6), rgba(225, 225, 225, 0.6));

.partners__wrapper {
  @media (min-width: $l-width) {
    @include line;

    &::before {
      top: 22px;
      width: 61.1%;
      right: 153px;
    }
  }
  margin-top: 50px;
  margin-bottom: 62px;
  spaceBetween: -10,
}

.partners__container {
  @media (min-width: $l-width) {
    display: flex;
    justify-content: stretch;
  }

  overflow: visible;
}


.partners h2 {
  margin-bottom: 40px;
  margin-top: 0; // swiper
}

.partners__list-button {
  position: absolute;
  top: -84px;
  width: 57px;
  height: 34px;

  border-width: 2px;
  border-color: #292929;

  line-height: 25px;


  &:hover,
  &:focus {
    background-color: $brand-color;

    & svg {
      fill: #000000;
    }
  }

  &:first-of-type {
    right: 57px;

    border-right: none;

    & svg {
      margin-right: 17px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 11px;
      right: 0;
      width: 1px;
      height: 8px;
      background-color: #292929;
    }
  }

  &:last-of-type {
    right: 0;

    border-left: none;

    & svg {
      margin-left: 17px;
    }
  }
}

.partners__list {
  @include reset-list-style;
  @media (min-width: $l-width) {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-between;

    flex-grow: 1;
    // margin-left: -10px; //swiper
  }
  padding-bottom: 35px;
}
.partners__item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;

  min-height: 133px;
  @media (min-width: $l-width) {
    max-width: 270px;
    // margin-left: 10px; // swiper
    margin-bottom: 30px;
  }

  background-color: $light-color;
}

.partners__item {
  & a {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 270px;

    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px #d6d6d6;
    // background-size: contain;
    // filter: grayscale(1);
    // filter: gray;
    opacity: 0.5;

  }

  &--ava a {
    background-image: url('../img/ava-bw-l@1x.png');
    background-position-x: 32%;
  }

  &--mirror a {
    background-image: url('../img/mirror-bw-l@1x.png');
    background-position-y: -18px;
  }

  &--shield a {
    background-image: url('../img/shield-bw-l@1x.png');
    background-position-y: -27px;
  }

  &--ntf a {
    background-image: url('../img/ntf-bw-l@1x.png');
    background-position-y: -23px;
  }

  & a:hover,
  & a:focus {
    opacity: 1;
  }
}

@media (max-width: $m-width-max) {
  .partners__wrapper {
    margin-bottom: 48px;
    @media (min-width: $m-width) {
      overflow: visible;
    }
  }

  .partners h2 {
    margin-bottom: 16px;
  }
  .partners__list-button {
    display: none;
  }

  // .partners__list {
  //   // flex-wrap: wrap;
  // }

  .partners__item {
  @media (min-width: $m-width) {
    border: none;
    }

    flex-basis: 282px;
    height: 200px;
    // height: 200px;
    flex-shrink: 0;
    margin-left: 10px; //swiper
    margin-right: 10px; //swiper

    box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.05);

    @media (min-width: $m-width) {
      &--ava a {
        background-image: url('../img/ava-bw-l@1x.png');
        background-position-x: 33%;
        background-size: 200px;
      }

      &--mirror a {
        background-image: url('../img/mirror-bw-l@1x.png');
        background-size: 180px;
        background-position-y: 26px;
      }

      &--shield a {
        background-image: url('../img/shield-bw-l@1x.png');
        background-position: center;
        background-size: 236px;
        // background-size: 260px;
        // background-position-x: 23px;

      }
      &--ntf a {
        background-image: url('../img/ntf-bw-l@1x.png');
        background-position: center;
      }

      & a:hover,
      & a:focus {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: $s-width-max) {
  .partners__wrapper {
    margin-bottom: 16px;
    margin-top: 22px;

    overflow: visible;
  }

  .partners h2 {
    margin-bottom: 4px;
  }

  // .partners__item {
  //   flex-basis: 280px; // for swiper
  //   flex-shrink: 0; // for wiper
  //   height: auto; // for swiper

  .partners__item {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 100%;
    flex-grow: 1;
    height: 135px;
    margin: 0;
    // margin: auto;

    border: none;
    box-shadow: none;

    &--ava a {
    background-image: url(../img/ava-bw-l@1x.png);
    background-position-x: 40%;
    background-position-y: 2px;
    }
  }

  .partners__item a {
    width: 278px;
    height: 133px;
    flex-grow: 0;

    border: solid 1px #d6d6d6;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .partners__item {
    &--ava a {
      background-image: url('../img/ava-bw-l@2x.png');
      background-position: center;
      background-size: contain;
      background-position-x: 32%;
    }

    &--mirror a {
      background-image: url('../img/mirror-bw-l@2x.png');
      background-position: center;
      background-size: contain;
      background-position-y: -18px;
      background-position-x: 51%;
    }

    &--shield a {
      background-image: url('../img/shield-bw-l@2x.png');
      background-position: center;
      // background-size: contain;
      background-position-y: -27px;
      background-position-x: 51%;
      background-size: 79%;
    }

    &--ntf a {
      background-image: url('../img/ntf-bw-l@2x.png');
      background-position: center;
      // background-size: contain;
      background-position-y: -26px;
      background-position-x: 47px;
      background-size: 66%;
    }

  @media (max-width: $m-width-max) {
    &--ava a {
      background-size: 212px;
    }

    &--mirror a {
      background-size: 180px;
      background-position-y: 26px;
    }

    &--shield a {
      background-size: 258px;
      background-position-y: -6px;
    }

    &--ntf a {
      background-size: 200px;
      background-position-y: -10px;
    }
  }

  @media (max-width: $s-width-max) {
    &--ava a {
      background-size: 177px;
      background-position-x: 41%;
      background-position-y: 0;
    }

    &--mirror a {
      background-size: 180px;
      background-position-y: -24px;
    }

    &--shield a {
      background-size: 200px;
      background-position-y: -21px;
    }

    &--ntf a {
      background-size: 177px;
      background-position-y: -24px;
    }
  }
}


  // @media (max-width: $s-width-max) {
  //   &--ava a {
  //   }
  // }
}
