.swiper-pagination .swiper-pagination-bullet-active {
  background-color: $brand-color;
}

@media (max-width: $m-width-max) {
  swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 6px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 44%;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 2px;
}
}

@media (max-width: $m-width-max) {
  // .swiper-slide {
  //   width: 280px;
  //   height: 200px;
  // }
  // .swiper-slide-active {
  //   // width: 280px;
  //   // height: 200px;
  // }
  // .swiper-slide-active a {
  //   opacity: 1;
  // }
}

