// Брейкпоинты
$s-width: 320px;
$s-width-max: 767px;
$s-padding: 20px;

$m-width: 768px;
$m-width-max: 1023px;
$m-padding: 24px;

$l-width: 1024px;
$l-padding: 30px;

// Resolution
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Цвета
$brand-color: #00ffd8;
$light-color: #FFFFFF;
$dark-color: #000000;
$dark-color-text: rgba(27, 45, 55, 0.5); // #8d969b
$text-color: rgba(51, 51, 51, 0.77); // #333333

$middle-color: #707070;
$middle-color-darker: #666666
