// Брейкпоинты
$s-width: 320px;
$s-width-max: 767px;
$s-padding: 20px;

$m-width: 768px;
$m-width-max: 1023px;
$m-padding: 22px;

$l-width: 1024px;
$l-padding: 30px;

// Resolution
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Цвета
$brand-color: #00ffd8;
$light-color: #FFFFFF;
$light-color-transparent: rgba(255, 255, 255, 0.34); // #575757 Рамки и стрелки кнопок в Проектах
$text-light-color: #FFFFFE;
$dark-color: #000000;
$light-dark-color: #222222; //Телефон в хедере

$light-gray: #707070;
$middle-gray: #666666;
$dark-gray: rgba(51, 51, 51, 0.77); // #333333
$darkest-gray: rgba(27, 45, 55, 0.5); // #8d969b
